# Dependencies
/node_modules

# Compiled output
/dist

# Logs
/logs
*.log
npm-debug.log*

# Environment
.env
.env.*
!.env.example
.env.local

# IDE
.vscode
.idea
*.swp

# OS & Editor
.DS_Store
Thumbs.db
*.tsbuildinfo
